<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bucket.css" />
    <title>Bucket</title>
  </head>
  <body>
    <%-include("navbarCom.ejs") %>
    <div class="wrap">
      <div class="content1">여기는 내가 고른 개발자 보는 곳(디테일한 이력)</div>
      <div class="content2">여기는 개발자들 모여 있는 곳</div>
    </div>

    <div class="footer"><%-include("footer.ejs") %></div>
  </body>
</html>
