<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bucket.css" />
    <title>Bucket</title>
  </head>
  <body>
    <%-include("navbarCom.ejs") %>
    <div class="wrap">
      <div class="content1">
        <div class="personal">
          <h2>담긴 개발자들</h2>
          <% for(var i =0; i < 10; i++){ %>
          <button class="accordion">name</button>
          <div class="panel">
            <p>stack: &nbsp; career: &nbsp; location:</p>
            <button type="button">상세보기</button>
          </div>
          <% } %>
        </div>
      </div>
      <div class="content2">
        <h2>상세보기</h2>
      </div>
    </div>

    <div class="footer"><%-include("footer.ejs") %></div>

    <script>
      var acc = document.getElementsByClassName("accordion");

      for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + 300 + "px";
          }
        });
      }
    </script>
  </body>
</html>
