<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bucket.css" />
    <title>Bucket</title>
  </head>
  <body>
    <%-include("navbarCom.ejs") %>
    <div class="wrap">
      <div class="content1">
        <div class="personal"></div>
      </div>
      <div class="content2">
        <div></div>
      </div>
    </div>

    <div class="footer"><%-include("footer.ejs") %></div>
  </body>
</html>
