<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bucket.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <title>Bucket</title>
  </head>
  <body>
    <%-include("navbarCom.ejs") %>
    <div class="wrap">
      <div class="content1">
        <div class="personal">
          <h2>담은 개발자들</h2>
          <% for(var i =0; i < 10; i++){ %>
          <button class="accordion">name</button>
          <div class="panel">
            <p>stack: &nbsp; career: &nbsp; location:</p>
            <button type="button" onclick="resume();">상세보기</button>
          </div>
          <% } %>
        </div>
      </div>
      <div class="content2">
        <h2>이력</h2>
        <div class="bucketlist"></div>
      </div>
    </div>

    <div class="footer"><%-include("footer.ejs") %></div>

    <script>
      var acc = document.getElementsByClassName("accordion");

      for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + 300 + "px";
          }
        });
      }
      function resume() {
        if ($(".content2").css("display") == "none") {
          $(".content2").show();
          $(".content2").css("height", "45%");
          $(".content1").css("height", "45%");
        } else {
          $(".content2").hide();
          $(".wrap").css("height", "800px");
          $(".content2").css("height", "0%");
        }
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
