<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/static/css/company.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include("navbar.ejs")%>

    <div class="test">
      <div class="main_list">
        <div class="input_line">
          <input type="text" placeholder="search" />
          <button>asd</button>
        </div>
        <!-- <div class="develop_list">
          <p>Developers</p>
         <% for(var i =0 ; i < 10 ; i++) { %>
           <button class="accordion">name</button>
            <div class="panel">
              <p>stack: &nbsp; career: &nbsp; age:</p>
            </div>
        <% }%>  -->
          
          <!-- <button class="accordion">name</button>
          <div class="panel">
            <p>stack: &nbsp; career: &nbsp; age:</p>
          </div>
          <button class="accordion">name</button>
          <div class="panel">
            <p>stack: &nbsp; career: &nbsp; age:</p> -->
          </div>
        </div>
      </div>
      <div class="bucket">Bucket</div>
    </div>
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
    </script>
  </body>
</html>
