<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <!-- axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body>
    <%#-include("navbar.ejs")%>
    <form id="form-register" action="/user/saveIntroudce" method="post">
      <label>stack</label>
      <% var stackList=["JAVA", "Javascript" , "Python" , "R" , "C" , "C++" ,
      "C#", "PHP" , "Cobol" , "HTML" , "Linux" , "Kotlin" , "Dart" , "Go" ];%>
      <% for ( var i=0; i < stackList.length; i++ ) { %>
      <button
        type="button"
        class="normal_btn"
        onclick="addStack(this.value)"
        value="<%= stackList[i] %>"
      >
        <%= stackList[i] %>
      </button>
      <% } %>
      <br />
      <label>career</label>

     <div class="career"><button type="button" onclick="addCar()"> +경력추가</button></div></br>
      
      <br />
      <label>port folio :</label>
      <br />
      <input
        type="url"
        name="link"
        id="link"
        placeholder="https://github.com"
        pattern="https://"
        size="30"
      />링크
      <br />

      <label etc>짧은 자기소개</label>
      <input type="text" name="etc" value="" id="etc" /><br />
      <button type="button" id="submit" onclick="sendData()">제출</button>
    </form>

    <script>

      // valueById = $('input[name=inputName]').val();
      // console.log(valueById);

      // 경력 추가
    var i = 0;
     function addCar(){
          $('.career').append(`<div>경력<input id='year${i}' class='text'>근무지<input id='place${i++}' class='text'></div>`)
      }



      //stack 선택
      var stackList = "";
      function addStack(stack) {
        $(`button[value$="${stack}"]`).css("background-color", "grey");
        $("#selected").append(
          `<button type="button" class="normal_btn" onclick="delStack('${stack}')" value="${stack}-checked"> ${stack}</button> %>`
        );
        $(`button[value$="${stack}"]`).attr("onclick", "delStack(this.value)");

        stackList += stack + "|";
        console.log(stackList);
      }
      function delStack(stack) {
        $(`button[value$="${stack}"]`).css(
          "background-color",
          "rgb(228, 228, 228)"
        );
        $(`button[value$="${stack}"]`).attr("onclick", "addStack(this.value)");
        $(`button[value$="${stack}-checked"]`).remove();
        stackList = stackList.replace(`${stack}|`, "");
        console.log(stackList);
      }
      //career value 값

      //링크 가져오기(portfolio)
      var get_URL = $("#link").text();

      //자기소개
      var myself = $("#etc").val();
      /*   var ranges = document.getElementById("range");
      ranges.onchange = function () {
        sendElement("career", ranges.value);
      };*/


      //axios로 보내기
      function sendData(element, data) {
        axios({
          url: "",
          method: "post",
          data: {
            stack: stackList,
            elements: element,
            datas: data,
            git_links: get_URL,
            introduce: myself,
          },
        }).then((response) => {
          res.send(response.data);
        });
      }


      function getCar(){
        var career ="";
        for(var j=0; j<i; j++){
          // console.log($(`#year${j}`).val(), $(`#place${j}`).val());
          career = career + $(`#year${j}`).val() + '|' + $(`#place${j}`).val() + '|';
        }
        return career ;
        
      }
      
      function aaa() {
        var choose = $("#stack").val();
        var etc = $("#etc").val();
        var range = $("#range").val();
        var career = getCar();
        console.log(career);

        
        // data = {
        //   stack: choose,
        //   etc: etc,
        //   range: range,
        //   career: career
        // };

        // console.log(data);
        // axios({
        //   url: "/user/saveIntroudce",
        //   method: "post",
        //   data: data,
        // }).then((response) => {
        //   console.log(response.data);
        // });
      }


    </script>
  </body>
</html>
