<table>
    <tr>
        <td>ID&nbsp;</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>PW&nbsp;</td>
        <td><input type="text"></td>
        <td><button type="button">LOGIN</button></td>
    </tr>

</table>