<!-- 로그인 창 사라진 후 보여질 창  -->
<div class="cotn_principal">
    <div class="cont_centrar">
        <div class="cont_back_info">
            <div class="contBack">
                <div id="logAfter">
                    <div class="proImg">
                        <img src="../static/img/userId/<%= data.userPicUrl %>" alt="My Image">
                    </div>
                    <div class="afterCont">
                        <h2>
                            <%= data.username %>님 어서오세요!
                        </h2><br />
                        <button>
                            <a href="/myPage">마이페이지</a>
                        </button>
                        <a href="/process/logout" onclick="Delete_session(name);">logout</a>
                    </div>
                </div>
            </div>
            <div class="cont_img_back_grey"></div>
        </div>
    </div>
</div>