<!-- 로그인 창 사라진 후 보여질 창  -->
<div class="cotn_principal">
 <div class="cont_centrar">
    <div class="cont_back_info">
        <div class="contBack">
            <h3><%= data.username %>님 어서오세요!</h3>

            <hr>
            <div class="afterCont">
                <a href="/myPage">마이페이지</a>
                <a> | </a>
                <a href="/process/logout" onclick="Delete_session(name);">logout</a>
                <a class="proImg">
                </a>
            </div>
        </div>
        <div class="cont_img_back_grey"></div>
    </div>
 </div>
</div>
