<!-- 로그인 창 사라진 후 보여질 창  -->
<div class="cotn_principal">
    <div class="cont_centrar">
        <div class="cont_back_info">
        <div>어서오세요!</div>
        <div class="cont_img_back_grey"></div>
          </div>
    </div>
</div>
