<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9376e8eed8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>
    
        .main-img {
            width: 100%;
            /* position: fixed; */
        }
    
        .main-back {
            position: relative;
            width: 100%;
            height: 400px;
            margin: auto;
            background-color: rgb(228, 228, 225);
        }
        
        /* .log-box {
            position: absolute;
            z-index: 999;
            margin: auto;
            width: 40%;
            height: 400px;
            margin: auto;
            background-color: rgb(179, 62, 62);
        } */
    
    </style>
    </head>
    <body>
    <form>
        <%-include("navbar.ejs") %>

        <div>
            <img class="main-img" src="./static/img/main_img.jpg">
        </div>
        <div class="main-back"></div>
        <!-- <div class="log-box"></div> -->

        <div class="login"><%-include("login.ejs") %></div>
    
    
    </form>
    <script>
    
    </script>
    </body>
    </html>