<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"
></script>

<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/introduce">Resume</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="joinmember">회원가입(유저)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="joinmemberCompany">회원가입(회사)</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="company">Developers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- scroll 시 navbar 배경 화면 보이기 필요시 복붙-->
<script>
  /*window.addEventListener("scroll", function () {
    if (scrollY <= 350 && scrollY >= 0) {
      $(".container-fluid").attr("style", "background-color: transparent !import");

    } else {
      $(".topnav").attr("style", "background-color:  #333 !important");
      $(".user").attr("style", "color : white !important");
      $(".Corp").attr("style", "color: white !important");
    }
  });*/

  //navbar toggler
</script>
