<link rel="stylesheet" href="/static/css/navbar.css" />
<nav class="topnav">
  <div>
    <a href="/" class="user">Home</a>
    <a href="#Resume" class="user">Resume</a>
    <a href="#Watch" class="user">Watch Other</a>
    <a href="/myPage" class="Corp">Mypage</a>
    <a href="#login" id="login">login</a>
    <a href="/company" class="Corp">Developer</a>
    <a href="#Bucket" class="Corp">Bucket</a>
  </div>
</nav>
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"
></script>

<!-- scroll 시 navbar 배경 화면 보이기 필요시 복붙-->
<script>
  /*window.addEventListener("scroll", function () {
    if (scrollY <= 350 && scrollY >= 0) {
      $(".topnav").attr("style", "background-color: transparent !import");
      $(".user").attr("style", "color : black !important");
      $(".Corp").attr("style", "color: black !important");
    } else {
      $(".topnav").attr("style", "background-color:  #333 !important");
      $(".user").attr("style", "color : white !important");
      $(".Corp").attr("style", "color: white !important");
    }
  });*/
</script>
