<link rel="stylesheet" href="/static/css/navbar.css" />
<nav class="topnav">
  <div>
    <a href="/" class="user">Home</a>
    <a href="#Resume" class="user">Resume</a>
    <a href="#Watch" class="user">Watch Other</a>
    <a href="/myPage" class="Corp">Mypage</a>
    <a href="#login" id="login">login</a>
    <a href="/company" class="Corp">Developer</a>
    <a href="#Bucket" class="Corp">Bucket</a>
  </div>
</nav>
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"
></script>

<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/introduce">Resume</a>
            <!-- <a class="nav-link" href="/introduce">Resume</a> -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="joinmember">회원가입(유저)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="joinmemberCompany">회원가입(회사)</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="company">Developers</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- scroll 시 navbar 배경 화면 보이기 필요시 복붙-->
<script>
  /*window.addEventListener("scroll", function () {
    if (scrollY <= 350 && scrollY >= 0) {
      $(".topnav").attr("style", "background-color: transparent !import");
      $(".user").attr("style", "color : black !important");
      $(".Corp").attr("style", "color: black !important");
    } else {
      $(".topnav").attr("style", "background-color:  #333 !important");
      $(".user").attr("style", "color : white !important");
      $(".Corp").attr("style", "color: white !important");
    }
  });*/
</script>
