<link rel="stylesheet" href="/static/css/navbar_no_login.css" />
<nav class="topnav">
  <div>
    <a href="/" id="main">PickMe</a>
    <a href="joinmember" id="membership">회원가입</a>
  </div>
</nav>
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"
></script>
