<link rel="stylesheet" href="/static/css/navbar_user.css" />
<nav class="topnav">
  <div>
    <a href="/" id="main">Main</a>
    <a href="/process/logout" class="user" onclick="Delete_session(name);"
      >logout</a
    >
    <a href="/myPage" class="Corp">Mypage</a>
    <a href="/" class="Corp">개발자들 보기</a>
  </div>
</nav>
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"
></script>
