.all {
  position: relative;
}

.main-nav {
  position: fixed;
  z-index: 9999;
}

.main-img {
    width: 40%;
    position: absolute;
    z-index: 999;
    margin-top: 10%;
    margin-left: 5%;
}

.test-img {
  scale: 0.5;
}

.content {
    position: absolute;
    font-size: 4vw;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: 800;
    text-align: left;
    left: 10%;
    margin-top: 7%;
    color: rgb(22, 38, 60);
    z-index: 999;
    animation: fadeInUp 1.5s;
}

.login_div {
  animation: fadeInUp 1.5s;
}

.our_ser {
  font-size: 3vw;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-weight: 600;
}


.first-back {
  position: relative;
  width: 100%;
  height: 300px;
  margin: auto;
  /* background-color: rgb(201, 196, 176); */

}

.second-back {
  position: relative;
  width: 100%;
  height: 700px;
  margin: auto;
  /* background: linear-gradient(rgb(36, 34, 34), rgb(217, 212, 205)); */
  background: linear-gradient(white,rgb(150, 163, 192));
}

.intro-back {
  position: relative;
  width: 100%;
  height: 2000px;
  margin: auto;
  background-color: rgb(150, 163, 192);
}

.serQ {
  scale: 0.6;
  margin-top: 1%;
}

.serLine {
  position: absolute;
  border-left : 2px dotted rgb(22, 38, 60);;
  height : 1000px;
  margin-left: 50%;
  transform: translate(-50%, -2%);
}

/* box1111111111 */
.box1 {
  margin-bottom: 5%;
}

.box1 > img {
  display: inline-block;
  border-radius: 10px;
  max-width: 35%;
  height: auto;
  margin-left: -10%;
}

.serCont1 {
  display: inline-block;
  margin-left: 10%;
  color: white;
}

/* box2222222 */
.box2 {
  margin-bottom: 5%;
}

.box2 > img {
  display: inline-block;
  border-radius: 10px;
  max-width: 35%;
  height: auto;
  margin-right: -10%;
}

.serCont2 {
  display: inline-block;
  margin-right: 10%;
  color: white;
}

.con1 {
  font-weight: 700;
  font-size: 2.5vw;
}

.con2 {
  font-weight: 500;
  font-size: 1.2vw;
}

/* 애니메이션 */
@keyframes fadeInUp {
  0% {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadein {
  opacity:0;
  margin-bottom:-100px;    
  max-width:100%;
}

/* .box1 > img {
  animation: 0.3s ease-in 0s 1 normal forwards running klMRhc;
} */