.all {
    width: 100%;
    margin-top: 60px;
}

.sideBar {
    position: fixed;
    padding: 0% 5% 5% 5%;
}

.sideBar > a {
    font-weight: 500;
    color: black;
    text-decoration-line: none;
    margin-bottom: 10%;
}

a:hover{
    background-color: lightblue;
}