 .topnav {
    width: 100%;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    position: fixed;
    z-index: 99999;
  }

  /* Style the links inside the navigation bar */
  .topnav a.user {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a.Corp {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  #login {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: darkgray;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  @media screen and (max-width: 1050px){
    #navbar{
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 24px;
    }
    .navbar_menu{
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 10px 10px;
    }
    .navbar_menu li{
      width: 100%;
      text-align: center;
    }
    .navbar_toggleBtn{
      display: block;
    }
    .navbar_menu.active{
      display: flex;
    }

    
  }