@font-face {
  font-family: 'Hahmlet-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

 
 .topnav {
    width: 100%;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    position: fixed;
    z-index: 99999;
  }

  /* Style the links inside the navigation bar */
  .topnav a.user {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  #main{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    display: block;
    font-family: 'Hahmlet-Bold';
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }
  #main:hover{
    background-color: white;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
 