 .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
  }
  .topnav div{
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin: auto 0px;
  }
  .topnav a{
    padding: 15px;
    color: grey;
    text-decoration: none;
  }
  /* Style the links inside the navigation bar */

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: whitesmoke;
    color: black;
  }
.toggle{
  display: block;
  display: none;
}
 .navbar_toggler{
  display: none;
 }
@media screen and (max-width: 650px){
  nav{
    display: flex;
  }
  .topnav{
    display: none;
    width: 100%;
    flex-direction: column;
    position: fixed;
  }
  .navbar_toggler{
    display: block;
    font-size: 24px;
  }
  
}
  /* Add a color to the active/current link */
 
  
 